.login {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login .loginwrapper {
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.301);
          box-shadow: 0 0 16px rgba(0, 0, 0, 0.301);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
  padding: 30px;
  border-radius: 10px;
}

.login .loginwrapper .loginleft .logindesc {
  color: #8158b6;
}

.login .loginwrapper .loginleft .loginlogo {
  font-size: 70px;
  color: #8158b6;
  line-height: 0.8;
}

.login .loginwrapper .loginleft .logindesc {
  display: block;
  margin-top: 30px;
  font-size: 25px;
}

.login .loginwrapper .loginright .link-register .registerbutton {
  font-weight: 600;
  padding: 8px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #f17648;
  cursor: pointer;
}

.login .loginwrapper .loginright Link .logincon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.login .loginwrapper .loginright Link .logincon .forgetpass {
  color: #3a3a3a;
  font-size: 16px;
}

.login .loginwrapper .loginright Link .logincon .loginbutton {
  padding: 8px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background-color: #3e8a51;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.login .loginwrapper .loginright Link .logincon .logininput {
  padding: 9px;
  font-size: 18px;
  border-radius: 10px;
  border: 3px solid grey;
}

.login .loginwrapper .loginright Link .logincon .logininput:focus {
  outline: none;
}
